# .dockerignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
media/
staticfiles/

# Node / npm
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
.next/
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
