venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
db.sqlite3
.env
.git/
.vscode/
.DS_Store
Thumbs.db
staticfiles/
media/

.ruff_cache/
.mypy_cache/
test-media/
.test-media/
core/
elo_terapeutico/
